<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cearo.owlganizer">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TrackProgressActivity"></activity>
        <activity android:name=".activities.SendSmsActivity" />

        <receiver
            android:name=".utils.AlarmBroadcastReceiver"
            android:enabled="true" />

        <activity android:name=".activities.TermListActivity" />
        <activity
            android:name=".activities.NoteDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.NewNoteActivity" />
        <activity android:name=".activities.NewAssessmentActivity" />
        <activity
            android:name=".activities.CourseDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.TermDetailActivity" />
        <activity android:name=".activities.NewTermActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NewCourseActivity" />
        <activity
            android:name=".activities.AssessmentDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>